/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* Layout */

.container-sm{
    width: 1000px;
    margin: 0 auto;
}

.container{
    width: 1220px;
    margin: 0 auto;
}

.container-sm{
    width: 1920px;
    margin: 0 auto;
}