/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* Layout */
body{
    font-family: 'Open Sans', sans-serif;
}

.container-sm{
    width: 1000px;
    margin: 0 auto;
}

.container{
    width: 1220px;
    margin: 0 auto;
}

.container-lg{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.button{
    line-height: 20px;
    padding: 8px 10px;

}

.blue-button{
    color: white;
    background-color: #0061ff;
}

/* Header */

.header__list{
    display: flex;
    gap: 20px;
    align-items: center;
}

.main__header .row{
    justify-content: space-between;
    padding: 20px;

}

/* Main */
.hero{
    text-align: center;
    background-color: #B4D0E7;
}

.hero__title{
    font-size: 70px;
    font-weight: 800;
    padding: 20px 0;
}



 