/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* Layout */
body{
    font-family: 'Open Sans', sans-serif;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container-lg{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;   
}

.main__section{
    margin-top: 120px;
    margin-bottom: 120px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

}

/* Buttons */
.button{
    line-height: 20px;
    padding: 8px 10px;
    display: inline-block;
    text-align: center;

}

.blue-button{
    color: white;
    background-color: #0061ff;
}

.white-button{
    background-color: white;
    border: 1px solid black;
}

/*  Colums general */

.col-4{
    width: calc(100% / 3);
    
}

.col-8{
    width: calc(8 * 100% / 12);
}

.col-12{
    width: 100%;
}

/* Header */

.header__list{
    display: flex;
    gap: 20px;
    align-items: center;
}

.main__header .row{
    justify-content: space-between;
    padding: 20px;

}

/* Main */
/* Hero */
.hero{
    background-color: #B4D0E7;
}

.hero__title{
    font-size: 70px;
    font-weight: 800;
    padding: 20px 0;
}

.hero__description{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.hero__description *{
    margin-bottom: 20px
}

.arrow-down{
    font-size: 30px;
    margin-top: auto;
    
}
/* Plans */
.section__title{
    margin: 28px 0;
}

.billing{
    display: flex;
    gap: 28px;
    margin-bottom: 28px;
}

.section__plans .col-4, .col-12{
    padding: 0 25px;
    margin: 24px 0;
}

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid lightgrey;
    
}

.card__title{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.card__section{
    padding: 24px 20px;
      
}

.card__subtitle{
    font-size: 24px;
}

.card__section li{
    margin-bottom: 16px;
    font-size: 14px;
    display: flex;
    gap: 8px;
}


.period{
    color: grey;
}

.highlight{
    font-weight: 700;
    margin: 10px 0;
}

.card .button{
    margin: 0 24px;
}

.classic_link{
    color: blue;
    text-decoration: underline;
}

hr{
    color: lightgray;
    width: 30px;
    margin: 24px 20px;    
}

.check{
    color: #0061ff;
}

.plan__description{
    margin-top: 40px;
}

/* Dropbox Business features */

.db-features .col-4{
    padding:  16px;
    margin: 40px 0;

}

/* Partners */
.partner .col-4{
    display: flex;
    flex-wrap: wrap;
}

.partner__logo{
    width: 50%;
    object-position: center center;
    object-fit: contain;
    padding: 40px;
    aspect-ratio: 1/1;
    
}

/* Q&A */
.q_a .row{
    justify-content: space-between;
    
    padding: 24px 12px 24px 0;
    align-items: center;    
}

.q_a li:nth-child(odd){
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.q_a .section__title{
    margin-bottom: 40px;
}

/* Footer */
.main__footer{
    background-color: black;
    color: white;
}











 